name: Continuous Integration

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '*.md'


jobs:
  test:
    name: Lint and test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup node.js
      uses: actions/setup-node@v5
      with:
        node-version-file: '.nvmrc'

    - name: Enable pnpm
      run: npm i -g corepack@latest && corepack enable pnpm

    - name: Install dependencies
      run: pnpm install

    - name: Create .env file
      run: cp .env.example .env

    - name: Lint
      run: pnpm lint

    - name: Test
      run: pnpm test
      
  automerge:
    name: Merge dependabot's PRs
    needs: test
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
